/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Fontin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url(http://programming-conference.org/assets/fonts/Fontin_Sans_R.otf) format("opentype");
}
@font-face {
  font-family: 'Fontin Sans';
  font-style: italic;
  font-weight: 400;
  src: local("☺"), url(http://programming-conference.org/assets/fonts/Fontin_Sans_I.otf) format("opentype");
}

@font-face {
  font-family: 'Fontin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url(http://programming-conference.org/assets/fonts/Fontin_Sans_B.otf) format("opentype");
}
@font-face {
  font-family: 'Fontin Sans';
  font-style: italic;
  font-weight: 700;
  src: local("☺"), url(http://programming-conference.org/assets/fonts/Fontin_Sans_B.otf) format("opentype");
}