---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/fontin.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/pygment_trac.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/favicon.ico" />
    <style type="text/css">
      body { padding-top: 70px;} .externalLink::after { content: ' ⇗'; }
      a {font-family: "Fontin Sans", sans-serif;}
      nav {font-family: "Fontin Sans", sans-serif;}
      nav .featured {font-weight: bold;} nav#mainnav .active { font-style: italic }
      nav ul { padding-left: 0px; list-style-type: none;}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    {% assign home = site.pages | where:'menutitle', 'About' | first %}
    {% assign responsibleurl = "https://aosa-inc.org/steering/" %}
    {% assign responsibleshort = "AOSA" %}
    {% assign pages = site.pages | where: 'name', 'index.markdown' | sort:"order" %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <header id="navbarheader" class="visible-sm visible-xs">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  {% assign murl = home.url|remove:'index.html' %}
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    {% for menuitem in pages %}
                      {% assign liclass = '' %}
                      {% if menuitem.title == page.title %}
                        {% capture liclass %}{{ liclass }} active{% endcapture %}
                      {% endif %}
                      {% if menuitem.featured %}
                        {% capture liclass %}{{ liclass }} featured{% endcapture %}
                      {% endif %}
                      <li class="{{ liclass }}">
                      {% if menuitem.external %}
                        {% assign murl = menuitem.external %}
                      {% else %}
                        {% assign murl = menuitem.url|remove:'index.html' %}
                      {% endif %}
                      <a href="{{murl}}">
                        {% if menuitem.short %}
                          {{menuitem.short }}
                        {% elsif menuitem.menutitle %}
                          {{menuitem.menutitle }}
                        {% else %}
                          {{menuitem.title}}
                        {% endif %}
                      </a></li>
                    {% endfor %}
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
          </header>
          <header id="mainheader" class="hidden-sm hidden-xs">
            <div class="h2">{{site.title}}</div>
            <nav id="mainnav">
              <ul>
                {% for menuitem in pages %}
                  {% assign liclass = '' %}
                  {% if menuitem.title == page.title %}
                    {% capture liclass %}{{ liclass }} active{% endcapture %}
                  {% endif %}
                  {% if menuitem.featured %}
                    {% capture liclass %}{{ liclass }} featured{% endcapture %}
                  {% endif %}
                  <li class="{{ liclass }}">
                  {% if menuitem.external %}
                    {% assign murl = menuitem.external %}
                  {% else %}
                    {% assign murl = menuitem.url|remove:'index.html' %}
                  {% endif %}
                  <a href="{{murl}}">
                    {% if menuitem.menutitle %}
                    {{menuitem.menutitle}}
                    {% else %}
                    {{menuitem.title}}
                    {% endif %}
                </a></li>
                {% endfor %}
              </ul>
            </nav>
          </header>
        </div>
        <div class="col-lg-9 col-md-12">
          {% assign featured_seen = false %}
          {% for feature in pages %}
              {% if feature.featured %}
                {% unless featured_seen %}
          <div class="well">
                  {% assign featured_seen = true %}
                {% endunless %}
                {% if feature.external %}
                  {% assign murl = feature.external %}
                {% else %}
                  {% assign murl = feature.url | remove: "index.html" %}
                {% endif %}
            <a href="{{ murl }}">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              &nbsp;{{ feature.featured }}
            </a><br>
              {% endif %}
            {% endfor %}
            {% if featured_seen %}
          </div>
            {% endif %}
          <section>
            <h1>{{page.title}}</h1>
            {% comment %}
            {% include submenu.html %}
            {% endcomment %}
            {% if page.lead %}<div class="lead">{{page.lead}}</div>{% endif %}
            {{content}}
          </section>
        </div>
      </div>
      <div class="hidden-xs hidden-sm hidden-md pull-left" style="height: 0;">
        <img src="{{ site.baseurl }}/assets/aosa.svg" style="height: 8em; margin-top: -12em;" alt="" title="AOSA">
      </div>
      <footer>
      <p>© 2016–{{ 'now' | date: '%Y'}} <a href="{{ responsibleurl }}">
      {% if responsibleshort %}{{ responsibleshort }}
      {% else %}{{ responsibletitle}}
      {% endif %}
      </a>
      <div class="visible-xs visible-sm visible-md pull-right">
        <img style="height: 5em; margin-top: -4.5em"  class="pull-right" src="{{ site.baseurl }}/assets/aosa.svg"  alt="AOSA, Inc" title="AOSA, Inc">
      </div>
      </p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascripts/custom.js"></script>
  </body>
</html>
